.logoContainer{
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 100%;
    z-index: 6;

    display: flex;
    align-items: center;
}
svg{
    width: 4rem;
    height: auto;
    overflow: visible;
    stroke-linejoin: round;
    stroke-linecap: round;
}
svg path{
    stroke: #fff;
}
.svgText{
    color: #fff;
    font-weight: bolder;
    font-family: neutral, 'Poppins';
}
@media all and (max-width: 500px){
    .logoContainer{
        top: 1.5rem;
    }
}