.loaderContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100vh;
    width: 100vw;

    touch-action: none;
    overflow: hidden;

    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
svg{
    width: 5rem;
    height: auto;
    overflow: visible;
    stroke-linejoin: round;
    stroke-linecap: round;
}
svg path{
    stroke: #fff;
}
.svgText{
    color: #fff;
    font-weight: bolder;
    padding-top: 0.8rem;
    text-align: center;
    font-size: 24px;
}