.bannerContainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #000;
}
.quoteContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.quoteContainer h1{
    font-size: 72px;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 1;
    color: #000;
}
.quoteContainer span{
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem 2rem;
}
@media all and (max-width: 1000px){
    .quoteContainer h1{
        font-size: 65px;
    }
}
@media all and (max-width: 900px){
    .quoteContainer h1{
        font-size: 55px;
    }
}
@media all and (max-width: 700px){
    .quoteContainer h1{
        font-size: 45px;
    }
}
@media all and (max-width: 500px){
    .quoteContainer h1{
        font-size: 35px;
    }
}
@media all and (max-width: 450px){
    .quoteContainer h1{
        font-size: 30px;
    }
}